
@{
    ViewBag.Title = "Index";
}
<div style="background:transparent !important" class="jumbotron">
    <h2>Welcome to Patel Bistro...</h2>
    <p1>
        <font color="white">
            <b>
                Welcome to Patel Bistro, here, you will find a variety of beautiful dishes that look and<br />
                taste heavenly, browse and choose from three of our international Cuisines that will keep you<br />
                licking your fingers...
            </b>
        </font>
    </p1>

    <marquee behavior="scroll" direction="left"><img src="~/Assets/images/indian.jpg" width="120" height="80" alt="Indian" /><img src="~/Assets/images/chinese.jpg" width="120" height="80" alt="chinese" /><img src="~/Assets/images/italian.jpg" width="120" height="80" alt="Italian" /></marquee>
</div>
    <br />
    <br />
    <div class="banner">
        <img src="~/Assets/images/banner.png" width="1000" height="180" alt="Indian" />
        <p><font color="white"><b>In Indian Cuisine - Chicken & Rice: $10.00</b></font></p>
    </div>
    <div class="banner2">
        <img src="~/Assets/images/banner2.jpg" width="1000" height="180" alt="Indian" />
        <p><font color="white"><b>In Indian Cuisine - Butter Chicken with Naan: $15.00</b></font></p>
    </div>
    <div class="banner3">
        <img src="~/Assets/images/banner3.gif" width="1000" height="180" alt="Indian" />
        <p><font color="white"><b>In Chinese Cuisine - Thai Chicken with Sweet Chilli: $16.25</b></font></p>
    </div>
    <div class="banner4">
        <img src="~/Assets/images/banner4.jpg" width="1000" height="180" alt="Indian" />
        <p><font color="white"><b>In Italian Cuisine - Quick Pizza Treat: $13.50</b></font></p>
    </div>
